* {
    margin:0px;
    padding:0px;
    background-color: #D62828;
}

.title h1 {
    display:flex;
    background-color: #561010;
    color: white;
    font-family: sans-serif;
    font-style: italic;
    justify-content: center;
    padding:10px;
}


#id_nav ul {
    display:flex;
    justify-content: center;
    column-gap:300px;
}

#id_nav li {
    margin-top:20px;
    padding:10px;
    background-color: #561010;
    color:white;
    list-style-type: none;
    font-weight: bold;
    font-family: sans-serif;
    font-style: italic;
    border-radius: 15px;
}

a {
    outline-color:transparent;
}

a:link {
    color:white;
}

a:visited {
    color:white;
}

a:focus {
    text-decoration: none;
    background-color: #561010;
}

a:active {
    background: #561010;
    color: #561010;
}

#id_main h2 {
    display:flex;
    justify-content: center;
    margin-top: 30px;
    padding:10px;
    background-color: #561010;
    color: white;

}

#id_maintwo {
    display:flex;
    justify-content: center;
    margin-top: 20px;
}

.mainthree h1 {
    display:flex;
    justify-content: center;
    margin-top:20px;
    margin-left:448px;
    margin-right:448px;
    background-color: #561010;
    color: white;
}

.mainthree p {
    display:flex;
    justify-content: center;
    background-color: #561010;
    color: white;
    margin-left:448px;
    margin-right:448px;
    padding:10px;
}

.shawarma  {
    display:inline-block;
    justify-content: flex-start;
    margin-top: 20px;
    margin-left:400px;
}

.fries {
    display:inline-block;
    margin-left:300px;
}

.shawarma img {
    height:600px;
    margin-top:0px;
    border-radius:20px;
}

.fries img {
    height:600px;
    border-radius:20px;
}

.titles #hcs {
    display:inline-flex;
    margin-top:10px;
    margin-left:480px;
    color:white;
    font-style: italic;
}

.titles #chff {
    display: inline-flex;
    margin-top:10px;
    margin-left:490px;
    color:white;
    font-style: italic;
}

.burger {
    display:inline-block;
}

.lasagna {
    display:inline-block;
}

.burger img {
    height: 600px;
    margin-left:370px;
    margin-top:10px;
    border-radius:20px;
}

.lasagna img {
    height:400px;
    border-radius:20px;
    margin-left:150px;
    margin-bottom: 80px;
}

.names #jhh {
    display:flex;
    color:white;
    font-style:italic;
    margin-top:10px;
    margin-left:480px;
    margin-bottom:20px;
}

.names #ehl {
    display:flex;
    color:white;
    font-style: italic;
    margin-left:1250px;
    margin-top: -80px;
    margin-bottom:80px;

}

.imgshawarma img {
    display:flex;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
    border-radius:20px;
    height:600px;
}

.ingrshawarma h2 {
    display:flex;
    background-color: #561010;
    margin-top:10px;
    justify-content: center;
    margin-left:300px;
    margin-right:300px;
    color: white;
}

.ingrshawarma ul li {
    display:flex;
    background-color: #561010;
    margin-left:300px;
    margin-right:300px;
    color: white;
    font-weight:bold;
    padding:10px;

}

.guideshawarma h2 {
    display:flex;
    background-color: #561010;
    justify-content: center;
    margin-left:300px;
    margin-right:300px;
    color: white;
    margin-top:20px;
}

.guideshawarma ol li {
    display: flex;
    background-color: #561010;
    justify-content: center;
    margin-left:300px;
    margin-right:300px;
    padding:10px;
    color: white;
    font-weight: bold;
}


.imgfries img {
    display:flex;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
    border-radius:20px;
    height:600px;
}

.ingrfries h2 {
    display:flex;
    background-color: #561010;
    margin-top:10px;
    justify-content: center;
    margin-left:300px;
    margin-right:300px;
    color: white;
}

.ingrfries ul li {
    display:flex;
    background-color: #561010;
    margin-left:300px;
    margin-right:300px;
    color: white;
    font-weight:bold;
    padding:10px;

}

.guidefries h2 {
    display:flex;
    background-color: #561010;
    justify-content: center;
    margin-left:300px;
    margin-right:300px;
    color: white;
    margin-top:20px;
}

.guidefries ol li {
    display: flex;
    background-color: #561010;
    justify-content: center;
    margin-left:300px;
    margin-right:300px;
    padding:10px;
    color: white;
    font-weight: bold;
}



.imgburger img {
    display:flex;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
    border-radius:20px;
    height:600px;
}

.ingrburger h2 {
    display:flex;
    background-color: #561010;
    margin-top:10px;
    justify-content: center;
    margin-left:300px;
    margin-right:300px;
    color: white;
}

.ingrburger ul li {
    display:flex;
    background-color: #561010;
    margin-left:300px;
    margin-right:300px;
    color: white;
    font-weight:bold;
    padding:10px;

}

.guideburger h2 {
    display:flex;
    background-color: #561010;
    justify-content: center;
    margin-left:300px;
    margin-right:300px;
    color: white;
    margin-top:20px;
}

.guideburger ol li {
    display: flex;
    background-color: #561010;
    justify-content: center;
    margin-left:300px;
    margin-right:300px;
    padding:10px;
    color: white;
    font-weight: bold;
}


.imglasagna img {
    display:flex;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
    border-radius:20px;
    height:600px;
}

.ingrlasagna h2 {
    display:flex;
    background-color: #561010;
    margin-top:10px;
    justify-content: center;
    margin-left:300px;
    margin-right:300px;
    color: white;
}

.ingrlasagna ul li {
    display:flex;
    background-color: #561010;
    margin-left:300px;
    margin-right:300px;
    color: white;
    font-weight:bold;
    padding:10px;

}

.guidelasagna h2 {
    display:flex;
    background-color: #561010;
    justify-content: center;
    margin-left:300px;
    margin-right:300px;
    color: white;
    margin-top:20px;
}

.guidelasagna ol li {
    display: flex;
    background-color: #561010;
    justify-content: center;
    margin-left:300px;
    margin-right:300px;
    padding:10px;
    color: white;
    font-weight: bold;
}